<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT"> //Ejercicio 4 (Ejemplifiacion de codigo por consola)
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info"> //Ejercicio 3.a
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>